body {
  font: 13px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h3 {
    text-align:center;
}
.dot {
  stroke: #000;
}

/*Add Tooltip Type here*/
div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    height: 100px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

div.legend {
    position:absolute;
    width:200px;
    height:250px;
    padding:5px;
    background: lightgrey;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}